.gradient {
    background-image: linear-gradient(180deg, #EAF2F6 0%, #FFFFFF 100%, #E5F6FF 100%, #FFFFFF 100%); 
}

h1 {
    color: #161616;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

h3 {
    color: #161616;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.lp {
    font-size: 24px;
    color: #393939;
    letter-spacing: 0.18;
    line-height: 40px;
    font-family: 'Inter', sans-serif;
}

.learn-more {
    color: #0F62FE;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: none;
    color: #266CF1;
}


p, li {
    font-size: 16px;
    color: #393939;
    letter-spacing: 0.18;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}

button {
    background: #0F62FE;
    border: none;
    padding: 20px 36px;
    border-radius: 1px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.16px;
    line-height: 18px;
}

button:focus {
    outline: none;
}

.prodImage {
    width: 60%;
    height: auto;
}

image {
    align-self: flex-start; 
}

button:hover {
    background-color: #266CF1;
    transition-duration: 0.3s;
}

.bg {
    background-color: EDF5FF;
}

.label {
    font-size: 14px;
    letter-spacing: 0.18;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}

.whiteLabel {
    font-size: 14px;
    color: white;
    letter-spacing: 0.18;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}

.footer {
    background-color: #0F62FE;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 374px) {
    html {
      font-size: 0.4rem;
    }
  }
  
  @media screen and (min-width: 375px) {
    html {
      font-size: 0.6rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    html {
      font-size: 1rem;
    }
  }